*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.box{
	width: 1920px;
}
/*-------------------nav--------------------*/
nav{
	margin: 0 auto;
	width: 1500px;
	height: 100px;
}
nav>.logo{
	float: left;
	width: 210px;
	height: 72px;
}
nav>.right>ul{
	float: right;
}
nav>.right>ul>li{
	float: left;
	font-size: 24px;
}
nav>.right>ul>li:nth-child(1){
	color: pink;
}
nav>.right>ul>li:nth-child(2){
	margin-left: 15px;
	margin-right: 50px;
}
nav>.right>ul>li:nth-child(3){
	position: relative;
}
nav>.right>ul>li:nth-child(3)>img{
	width: 25px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 5px;
}
nav>.right>ul>li:nth-child(3)>select{
	font-size: 24px;
	width: 166px;
	height: 36px;
	padding-left: 24px;
}
/*-------------------form--------------------*/
.form{
	text-align: center;
	height: 748px;
}
.form>p{
	margin: 15px 0px;
}
.form>p:nth-child(1){
	height: 100px;
	line-height: 100px;
	font-size: 42px;
	font-weight: 600;
}
.form>p:nth-child(6){
	font-size: 24px;
	text-align: left;
	margin-left: 670px;
}
.form>p>input{
	padding-left: 35px;
	width: 574px;
	height: 90px;
	font-size: 32px;
}
.form>p:nth-child(4)>input{
	padding-left: 35px;
	width: 270px;
	height: 90px;
	font-size: 32px;
}
.form>p:nth-child(4)>input:nth-child(2){
	color: white;
	background-color: RGB(87, 86, 94);
	margin-left: 30px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}
.form>p:nth-child(7)>input{
	width: 615px;
	height: 110px;
	border: 0px;
	padding: 0px;
	color: white;
	background-color: red;
	cursor: pointer;
}
/*-------------------down--------------------*/
.down>ul{
	height: 36px;
	margin-left: 612px;
}
.down>ul:nth-child(2){
	margin-left: 562px;
}
.down>ul>li{
	height: 36px;
	float: left;
	font-size: 27px;
	text-align: center;
}
.down>ul:nth-child(1)>li:nth-child(1){
	width: 245px;
}
.down>ul:nth-child(1)>li:nth-child(3){
	width: 285px;
}
.down>ul:nth-child(1)>li:nth-child(5){
	width: 120px;
}
.down>ul:nth-child(1)>.g{
	width: 15px;
	height: 36px;
}
.down>ul:nth-child(2)>li{
	width: 185px;
}
.down>ul:nth-child(2)>li:last-of-type{
	width: 237px;
}