.span{
				margin-left: 17px;
			}
			.td1{
				padding-right: 388px;
			}
			.td2{
				padding: 0px 76px;
			}
			.td3{
				padding-left: 85px;
				padding-right: 92px;
			}
			.td4{
				padding-left: 88px;
				padding-right: 88px;
			}
			.td5{
				padding-left: 72px;
				padding-right: 66px;
			}
			.td6{
				padding-left: 36px;
				padding-right: 36px;
			}
			.td7{
				padding-right: 144px;
			}